[Unit]
Description=instrument_server process for monitoring your system
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/opt/instrumental-tools/instrument_server -f /etc/instrumental.yml -p /opt/instrumental-tools/instrument_server.pid -l /opt/instrumental-tools/instrument_server.log -s /opt/instrumental-tools/.instrumental_scripts -t /opt/instrumental-tools/ foreground

TimeoutSec=60

[Install]
WantedBy=multi-user.target